## Markdown 선택! 주피터 노트북의 시작 
print함수로 Hello,world!를 출력합니다.

In [7]:
print("Hello World!")

Hello World!

In [9]:
# 사칙연산 
2+2

4

In [10]:
3-2

1

In [11]:
13*3

39

In [12]:
15/3

5.0

In [13]:
# 정수 or 실수 판단하기 
print (type(4))
print(type(3.3))

<class 'int'>
<class 'float'>

In [14]:
# 거듭제곱 및 나머지 
# python에서의 거듭제곱 연산자는 **로 활용되고 있으며, 공백이 없어야 함. 
2.5 ** 2

6.25

In [15]:
# 몫은 // 연산자로 구할 수 있으며, 나머지는 %로 구할 수 있음. 
13 // 3

4

In [16]:
13 % 3

1

In [17]:
# 과학적 표기법 
# 큰 수나 작은 수를 활용할 경우, 기존 거듭제곱을 이용한 방법 외에 en 연산자를 이용하여 표기할 수 있다. 
1e15

1000000000000000.0

In [18]:
1e16

1e+16

In [19]:
1e-4

0.0001

In [20]:
1e-5

1e-05

In [21]:
# 파이썬의 논리연산은 boolean 연산이라고도 하며, 파이썬의 논리 연산을 위한 데이터 타입은 'bool'이다. 
print(not True)

False

In [22]:
type(True)

bool

In [1]:
print(4 != 3)

True

In [2]:
# 거듭제곱과 나머지 
# 1. 2의 세제곱 
print(2**3)

8

In [3]:
a = 2 ** 3 
print(a)

8

In [5]:
b = 2 ** (1/2) #루트2를 표현한다. 1/2를 제곱한게 루트니까 
2 ** b

2.665144142690225

In [7]:
# f-string 공부 
s = 'coffee'
n = 5 
result = f'저는 {s}를 좋아합니다. 하루 {n}잔 마셔요.'
print(result)

저는 coffee를 좋아합니다. 하루 5잔 마셔요.

In [13]:
# f-string 중괄호 출력 
num = 10 
result = f'제 나이는 {{num}}입니다.'
print(result)

제 나이는 {num}입니다.

In [15]:
# f-string과 리스트 
n = [100, 200, 300]
print(f'list : {n[0]}, {n[1]}, {n[2]}')

list : 100, 200, 300

In [18]:
# 10진수 17을 2진수, 8진수 16진수로 표현하기 
a = bin(17)
b = oct(17)
c = hex(17)
print(a)
print(b)
print(c)

0b10001
0o21
0x11

In [20]:
print( 3 == 2)
a = 3 
print ( a> 1 and a < 10)

False
True

In [21]:
# 변수 
# 숫자로 시작하는 변수명은 생성 불가 
# 변수는 대,소문자를 구분하여 생성되어 서로 다른 변수로 인식됨 
# 변수명은 공백을 포함할 수 없음

In [22]:
# 자료형 
string3 = 'this is a "match-up" training course'
print(string3)

this is a "match-up" training course

### 리스트

##### 리스트에 포함되는 항목의 데이터 타입은 숫자, 문자열, bool, 리스트, 튜플, 세트 등

##### 리스트 생성 시 데이터 타입이 달라도 생성 가능

In [2]:
# 매치업 수강자의 퀴즈점수는 각각 90, 85, 100, 95, 80 
m_stu = [90, 85, 100, 95, 80]
print(m_stu)
type(m_stu)

[90, 85, 100, 95, 80]

list

In [3]:
m_stu[0]

90

In [6]:
# 첫 번째 항목을 90에서 70으로 변경 
# 특정 항목을 변경하기 위해서는 변수명[i] = new data를 활용하면 됨 
m_stu[0] = 70 
m_stu

[70, 85, 100, 95, 80]

In [7]:
# 리스트는 숫자, 문자, bool, 리스트 등을 혼합할 수 있다. 
mix_list = [0,1,'match-up', 'program', m_stu]
mix_list

[0, 1, 'match-up', 'program', [70, 85, 100, 95, 80]]

In [8]:
# 리스트는 문자열과 같이 더하거나 곱할 수 있음 
list1 = [1,2,3,4]
list2 = [11,12,13,14]
# 리스트 연결하기 
listsum = list1 +list2 
# 리스트 반복하기 
listmul = list1 * 3

print(listsum)
print(listmul)

[1, 2, 3, 4, 11, 12, 13, 14]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
#리스트에서 원하는 범위만 추출하기 
# a[시작번호:끝번호] 를 지정하면 끝번호에 해당하는 것은 포함되지 않는다. 
list = [1,2,3,4,5,6,7,8,9,10]
print(list)
print(list[0:3]) #0,1,2번째 
print(list[6:]) # 6번째부터 끝까지 
print(list[:3])# 처음부터 두번째까지

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[7, 8, 9, 10]
[1, 2, 3]

In [15]:
# 리스트에서 del리스트명[i] 를 통해 인덱스를 삭제할 수 있다. 
# 9번째를 삭제 
del list[9] 
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 해당 위치에 인덱스가 존재하는지 확인하는 방법
print(4 in list)
print (10 in list)

True
False

#### 파이썬에서는 데이터 타입별로 이용할 수 있는 다양한 함수를 제공하고 있다. 
#### 이를 '메소드'라고 칭하며, 이를 이용하여 손쉬운 데이터 처리가 가능함 
#### 리스트에서는 데이터 추가, 삽입, 삭제 등의 작업을 메소드로 수행할 수 있음

In [18]:
# append() 리스트에서 항목 하나를 맨 마지막에 추가 
M_stu = ['박지성', '기성용', '손흥민', '이청용']
M_stu.append('이강민')
print(M_stu)

['박지성', '기성용', '손흥민', '이청용', '이강민']

In [32]:
# insert() 리스트에서 특정 위치에 항목을 삽입 
M_stu.insert(3, '이승우')
M_stu
M_stu.insert(1, '홍명보')
M_stu

['박지성', '홍명보', '홍명보', '기성용', '이승우', '손흥민', '이승우', '이승우', '이강민']

In [21]:
# extend() 리스트에서 항목 여러개를 맨 마지막에 추가하는 것 
M_stu.extend(['백승호', '정우영'])
M_stu

['박지성', '홍명보', '기성용', '손흥민', '이승우', '이승우', '이청용', '이강민', '백승호', '정우영']

In [22]:
# remove() 입력값과 첫 번째로 일치하는 항목을 리스트에서 삭제 
M_stu.remove('이청용')
M_stu

['박지성', '홍명보', '기성용', '손흥민', '이승우', '이승우', '이강민', '백승호', '정우영']

In [26]:
#pop() 은 리스트에서 맨 마지막 요소를 출력하면서, 그 요소를 리스트에서 삭제하는 것. 즉, 리스트에서 꺼내버리는 함수이다. 
list = [0,1,2,3,4,5]
print(list.pop())
print(list)

5
[0, 1, 2, 3, 4]

In [29]:
#index는 요소의 위치를 반환
list = [1,2,3,4,5]
list.index(3) # 3이 두번째 위치에 있다.

2

In [30]:
print(M_stu.index('홍명보'))

1

In [31]:
# count()는 리스트에서 인자와 일치하는 항목의 개수를 반환 
print(M_stu.count('이승우'))

2

In [34]:
# sort()는 숫자나 문자열로 구성된 리스트 항목을 순방향으로 정렬 
M_stu.sort()
print(M_stu)

['기성용', '박지성', '손흥민', '이강민', '이승우', '이승우', '이승우', '홍명보', '홍명보']

In [36]:
# reverse() 리스트 항목을 끝에서부터 역순으로 정렬 
M_stu.reverse()
print(M_stu)

['홍명보', '홍명보', '이승우', '이승우', '이승우', '이강민', '손흥민', '박지성', '기성용']

### 튜플 
##### 튜플은 리스트와 유사한 특성을 가지지만, [] 대신 ()를 이용하거나 괄호를 사용하지 않고 데이터를 입력한다.

In [37]:
#괄호를 사용하여서 입력 
tp = (1,2,3,4)
print(tp)
type(tp)

(1, 2, 3, 4)

tuple

In [38]:
# 괄호없이 데이터 입력 
tp2 = 5,6,7,8
print(tp2)
type(tp2)

(5, 6, 7, 8)

tuple

In [39]:
tp[2] # 인덱스 위치 출력

3

#### 인자가 1개 있는 튜플의 경우 마지막에 ,를 입력해야 함

In [41]:
tp3 = (1,)
print(tp3)
tp4 = 2, 
print(tp4)

(1,)
(2,)

튜플의 경우 생성된 요소를 변경하거나 삭제가 불가능함. 따라서 튜플은 생성 후 변경할 필요가 없을 경우 사용한다.

요소를 변경하거나 삭제할 순 없지만, 요소를 변경하지 않는 index() , count() 는 사용이 가능함.

In [2]:
# 튜플 index 
tp6 = ('가', '나', '다', '라')
tp6.index('다')

2

In [5]:
tp7 = ('가', '가', '나')
tp7.count('가')

2

##### 세트 : 수학의 집합 개념으로 데이터의 순서가 없고, 중복하여 사용할 수 없음 
교집합 합집합 차집합을 구할 수 있음 
세트를 구축할 때는 ({})의 형태로 구축함

In [6]:
seta = {1,2,3,4} 
setb = {1,2,2,3,4}
print(seta)
print(setb) #중복을 허용하지 않는다. 
type(setb)

{1, 2, 3, 4}
{1, 2, 3, 4}

set

In [9]:
A = {1,2,3,4,5,6,7,8,9,10}
B = {2,4,5,11,13}
print(A.intersection(B)) #교집합
print(A.union(B)) #합집합 
print(A.difference(B)) #차집합 
print(A&B) # 교집합 
print(A|B) # 합집합 
print(A-B) # 차집합

{2, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}
{1, 3, 6, 7, 8, 9, 10}
{2, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}
{1, 3, 6, 7, 8, 9, 10}

#### 타입변환 (리스트, 튜플, 세트) 
데이터 타입을 변화해야 할 경우 list() , tuple(), set()를 이용하여 변환이 가능함

In [15]:
# list 생성 
A = [1,2,3]
print(type(A))
# tuple로 변환 
B = tuple(A)
print(type(B))
# set로 변환 
C = set(A)
print(type(C))
# list로 변환 
D = list(B)
print(D) 
print(type(D))

<class 'list'>
<class 'tuple'>
<class 'set'>
[1, 2, 3]
<class 'list'>

#### 딕셔너리 
표제어와 설명을 사전형식으로 구축하여 사용하는 방법 
키 (key)와 값(value) 쌍으로 구성되어 있음 
중괄호를 이용해 구성하며, 키와 값의 구분은 :로 구분하여 데이터를 생성

In [16]:
dict = {"남자" : "Men", "여자" : "Women", "아이": "Baby"}
print(dict)
print(type(dict))

{'남자': 'Men', '여자': 'Women', '아이': 'Baby'}
<class 'dict'>